* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  overflow: hidden;
}

@font-face {
  font-family: "Helvetica-Condensed";
  src: url("../_fonts/helvetica_condensed.ttf");
}

/* *::-webkit-scrollbar {
  background-color: #fff;
  border-left: 0.1rem solid #eee;
  width: 16px;
}

*::-webkit-scrollbar-track {
  background-color: rgb(250, 250, 250);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(193, 193, 193);
  border-radius: 16px;
  border: 4px solid rgb(250, 250, 250);
}

*::-webkit-scrollbar-button {
  display: none;
} */

/* Panel Styles */

.panel {
  background: black;
  min-height: 16rem;
  margin-right: 8px;
  /* max-width: 640px; */
  min-width: 296px;
  position: relative;
  width: 100%;
}

.right-panel .panel {
  margin-bottom: 1.6rem;
  min-height: 16rem;
  max-width: none;
  min-width: 296px;
  position: relative;
}

.carousel-page-content .panel {
  max-width: 304px;
  min-width: 304px;
}

.panel a {
  text-decoration: none;
}

.panel-header {
  background: #3d3d3d;
  padding: 0.8rem 1.6rem;
  height: 4.8rem;
}

.panel-header-text {
  align-items: center;
  color: #fff;
  display: flex;
  /* font-family: "Helvetica-Condensed"; */
  font-family: Helvetica;
  font-size: 1.6rem;
  font-weight: 700;
  justify-content: flex-start;
  line-height: 1.6rem;
  margin-bottom: 0.8rem;
  /* white-space: nowrap; */
  width: 100%;
}

.panel-body {
  height: 100%;
  min-height: 16rem;
  padding: 1.6rem;
  padding-left: 11.5rem;
}

.yellow-gradient {
  background: rgb(226, 164, 52);
  background: linear-gradient(
    135deg,
    rgba(226, 164, 52, 1) 0%,
    rgba(54, 37, 8, 1) 50%,
    rgba(31, 31, 31, 1) 100%
  );
}

.red-gradient {
  background: rgb(151, 47, 47);
  background: linear-gradient(
    135deg,
    rgba(151, 47, 47, 1) 0%,
    rgba(47, 14, 14, 1) 50%,
    rgba(31, 31, 31, 1) 100%
  );
}

.green-gradient {
  background: rgb(23, 153, 106);
  background: linear-gradient(
    135deg,
    rgba(23, 153, 106, 1) 0%,
    rgba(8, 53, 37, 1) 50%,
    rgba(31, 31, 31, 1) 100%
  );
}

.blue-gradient {
  background: rgb(0, 123, 168);
  background: linear-gradient(
    135deg,
    rgba(0, 123, 168, 1) 0%,
    rgba(0, 45, 61, 1) 50%,
    rgba(31, 31, 31, 1) 100%
  );
}

.panel-body .first-row {
  align-items: center;
  display: flex;
  /* grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-gap: 0 0.8rem; */
  min-height: 10rem;
  justify-content: space-between;
}

.panel-body-content {
  width: 100%;
}

.panel-body-text {
  /* color: rgba(255, 255, 255, 0.72); */
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.3rem;
  line-height: 1.6rem;
  min-height: 10rem;
  height: calc(100% - 2.2rem - 0.8rem);
  padding-right: 0.8rem;
  z-index: 15;
}

.panel-body-text p {
  margin-bottom: 1.6rem;
  z-index: 15;
}
.panel-body-text p:last-child {
  margin-bottom: 0;
  z-index: 15;
}
.panel-body-text > div {
  z-index: 15;
}

.panel-body-image {
  /* height: 7.2rem;
  min-width: 7.2rem;
  width: 7.2rem;
  text-align: right; */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.panel-body-image img {
  max-width: 100%;
  max-height: 16rem;
}

.panel-text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.learn-more {
  align-items: center;
  align-self: flex-end;
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 4rem;
  color: #fff;
  display: flex;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  height: 3.2rem;
  justify-content: center;
  line-height: 1.4rem;
  padding: 0.4rem 0.8rem;
  margin-top: 1.6rem;
  /* width: 9.4rem; */
}

/* Right Panel CSS */

.brand-header {
  background: rgba(54, 54, 54);
  height: 5.6rem;
  width: 100%;
}

.navigation-header {
  background: rgba(66, 66, 66);
  height: 4.8rem;
  width: 100%;
}

.page-content {
  height: calc(100vh - 5.6rem - 4.4rem);
  display: grid;
  flex-direction: row;
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
  width: 100%;
}

.page-content.carousel-page-content {
  grid-template-columns: 1fr;
}

.main-panel {
  height: 100%;
  overflow-y: scroll;
}

.right-panel {
  box-shadow: rgba(0, 0, 0, 0.32) -1px 0px 5px 0px;
  height: 100%;
  max-width: 64rem;
  min-width: 32.6rem;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0.8rem;
}

.carousel {
  display: flex;
  position: relative;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  transition: all 0.2s;
  padding: 0.8rem;
  will-change: transform;
  user-select: none;
  cursor: pointer;
}
